* {
    font-family: 'Press Start 2P';
}

#time-bar {
    font-size: 25px;
    border: 0px;
    padding: 10px;
}

#time-numb {
    font-size: 20px;
    color: white;
}

.start {
    color: white;
}

.quiz {
    color: white;
}

div p {
    font-size: larger;

}

section div button {
    margin: 15px;
    padding: 5px;
    border-radius: 10%;
    color: #fff;
    background-color: #198754;
    border: 0px;
}

section div button:hover {
    scale: 1.3;
    background-color: forestgreen;
}

#innitials-input {
    display: none;
}